.TitleSquare {
    display: flex;
    margin-top: 7px;
    border: 10px solid rgb(149, 165, 166);
    border-radius: 20px;
    background-color: rgb(236, 240, 241);
    padding: 20px;
    font-size: 18px;
    font-family: Arial;
    height:50px;
    width: 1830px;
  }
  
.TitleSquare > p {
    font-size: 18px;
    font-family: Arial;
    text-align: center;
  }